In [ ]:
import sqlite3
import sys
import csv

In [ ]:
db_conn = sqlite3.connect('test.db')
print("Database Created")

Database Created

In [ ]:
the_cursor = db_conn.cursor()

In [ ]:
import sqlite3

# Create & connect to a new SQLite database in Colab
conn = sqlite3.connect("studentdb.db")
cursor = conn.cursor()

print("Database created successfully!")

Database created successfully!

In [ ]:
# Create 'sex' table
cursor.execute("""
CREATE TABLE IF NOT EXISTS sex (
    id TEXT PRIMARY KEY NOT NULL,
    sex_type INTEGER
)
""")

# Insert values into 'sex' table
cursor.execute("INSERT INTO sex(id, sex_type) VALUES ('M', 1)")
cursor.execute("INSERT INTO sex(id, sex_type) VALUES ('F', 2)")

conn.commit()
print("Table 'sex' created and values inserted!")

Table 'sex' created and values inserted!

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS student (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    f_name VARCHAR(23) NOT NULL,
    l_name VARCHAR(23) NOT NULL,
    sex CHARACTER(1) NOT NULL,
    FOREIGN KEY (sex) REFERENCES sex(id)
)
""")

conn.commit()
print("Table 'student' created successfully!")

Table 'student' created successfully!

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS test_type (
    id INTEGER PRIMARY KEY NOT NULL,
    type TEXT NOT NULL
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS test (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    date DATE NOT NULL,
    test_type INT NOT NULL,
    FOREIGN KEY (test_type) REFERENCES test_type(id)
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS test_score (
    student_id INTEGER NOT NULL,
    test_id INTEGER NOT NULL,
    score INTEGER NOT NULL,
    PRIMARY KEY (test_id, student_id),
    FOREIGN KEY (test_id) REFERENCES test(id),
    FOREIGN KEY (student_id) REFERENCES student(id)
)
""")

conn.commit()
print("Tables 'test', 'test_type', and 'test_score' created successfully!")

Tables 'test', 'test_type', and 'test_score' created successfully!

In [ ]:
cursor.execute("SELECT * FROM sex")
rows = cursor.fetchall()

for row in rows:
    print(row)  # Prints each row

('M', 1)
('F', 2)

In [ ]:
cursor.execute("PRAGMA table_info(sex)")
print(cursor.fetchall())  # Lists all columns

[(0, 'id', 'TEXT', 1, None, 1), (1, 'sex_type', 'INTEGER', 0, None, 0)]

In [ ]:
conn.close()
print("SQLite session closed!")

SQLite session closed!